body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("images/maths.webp");
}

.timerBtn {
    font-size: 20px;
    font-family: consolas, monospace;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.timerBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.timerBtn:active {
    color: #000
}

.timerBtn:active:after {
    background: transparent;
}

.timerBtn:hover:before {
    opacity: 1;
}

.timerBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#timeDisplay {
    font-size: 75px;
    font-family: consolas, monospace;
    color: #40c437;
    padding-bottom: 15px;
}

#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
    padding-bottom: 35px;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #timeContainer {
      width: 100%;
    }

    #timeDisplay {
        font-size: 50px;
    }
}